H1 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24 px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    text-align: center
}

H2 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20 px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 25px;
    text-align: center
}

